/* App.css */
:root {
  --background: rgb(108, 179, 254);
  --backgroundSecondary: rgb(75, 161, 253);
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
}

[data-theme='dark'] {
  --background: rgb(10, 9, 32);
  --backgroundSecondary: rgb(75, 161, 253);
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}
.body{ 
  overflow: hidden;
}
.App {
  min-height: 100vh;
  
  text-align: center;
  background-color: var(--background);
  color: var(--text-primary);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: var(--text-secondary);
}

.container {
  
  overflow-y: auto; /* Use "auto" to enable vertical scrolling if needed */
  max-height: calc(100vh - 120px);
  padding-left: 5em;
  padding-right: 5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 18rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
background-color: var(--backgroundSecondary);
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 1em;
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
